In [1]:
import pandas as pd
import numpy as np
import matplotlib as pl
import seaborn as sns

In [3]:
df  = pd.read_csv('C:/Users/sahil/Desktop/iris.csv')
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [4]:
df.shape

(150, 5)

In [5]:
df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [6]:
df.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [7]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [9]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [10]:
X = df.iloc[:,[0,1,2,3]]
X

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [11]:
Y = df.iloc[:,4]
Y

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [12]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB

In [13]:
X_train , X_test, Y_train , Y_test = train_test_split(X,Y,test_size = 0.25)

In [14]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()

In [16]:
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.fit_transform(X_test)

In [17]:
Classifier = GaussianNB()
Classifier.fit(X_train, Y_train)

GaussianNB()

In [18]:
Y_pred = Classifier.predict(X_test)

In [19]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(Y_test, Y_pred)*100
accuracy

100.0

In [20]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(Y_test,Y_pred)
cm

array([[12,  0,  0],
       [ 0, 14,  0],
       [ 0,  0, 12]], dtype=int64)

In [21]:
TP = cm[0,[0]]
print(TP)

[12]

In [22]:
TN = cm[[[1],[2]],[1,2]]
print(TN)

[[14  0]
 [ 0 12]]

In [23]:
FP = cm[[1,2],0]
print(FP)

[0 0]

In [24]:
FN = cm[0,[1,2]]
print(FN)

[0 0]

In [25]:
accuracy = (TP+TN)/(TP+TN+FP+FN)
print(accuracy)

[[1. 1.]
 [1. 1.]]

In [26]:
error_rate =(FP+FN)/(TP+TN+FP+FN)
print(error_rate)

[[0. 0.]
 [0. 0.]]

In [27]:
precision = TP/(TP+FP)
print(precision)

[1. 1.]

In [28]:
Recall = (TP/(TP+FN))
print(Recall)

[1. 1.]

In [29]:
specificity = (TN/(TN+FP))
print(specificity)

[[ 1. nan]
 [nan  1.]]

C:\Users\sahil\AppData\Local\Temp\ipykernel_10084\4142872529.py:1: RuntimeWarning: invalid value encountered in true_divide
  specificity = (TN/(TN+FP))

In [30]:
data = [[5.4,3.9,1.7,0.4]]
spec = Classifier.predict(data)
spec

array(['virginica'], dtype='<U10')

In [31]:
import pickle 
pickle.dump(Classifier, open('Classifier.pkl','wb'))

In [32]:
pickled_model = pickle.load(open('Classifier.pkl','rb'))
data = [[5.4,3.9,1.7,0.4]]
pickled_model.predict(data)

array(['virginica'], dtype='<U10')