In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as mlb

In [11]:
df = pd.read_csv('C:/Users/sahil/Desktop/datasets/iris.csv')
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [12]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [13]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [14]:
df.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [16]:
val = pd.get_dummies(df.species)
val

     setosa  versicolor  virginica
0         1           0          0
1         1           0          0
2         1           0          0
3         1           0          0
4         1           0          0
..      ...         ...        ...
145       0           0          1
146       0           0          1
147       0           0          1
148       0           0          1
149       0           0          1

[150 rows x 3 columns]

In [17]:
df_x = pd.DataFrame(df, columns=['sepal_length', 'sepal_width', 'petal_length', 'petal_width'])
df_x

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [18]:
df_y = pd.DataFrame(df, columns=['species'])
df_y

       species
0       setosa
1       setosa
2       setosa
3       setosa
4       setosa
..         ...
145  virginica
146  virginica
147  virginica
148  virginica
149  virginica

[150 rows x 1 columns]

In [19]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB

In [26]:
x_train, x_test, y_train, y_test = train_test_split(df_x, df_y, test_size = 0.3, random_state = 42)

In [27]:
model = GaussianNB()
model.fit(x_train, y_train)

C:\Users\sahil\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB()

In [28]:
y_pred = model.predict(x_test)

In [29]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[19,  0,  0],
       [ 0, 12,  1],
       [ 0,  0, 13]], dtype=int64)

In [30]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred)*100)

97.77777777777777

In [40]:
tp = cm[0, [0]]
# # tp
fp = cm[0, [1,2]]
# fp
fn = cm[[1,2], 0]
# fn
tn = cm[[[1],[2]], [1,2]]
# TN

In [41]:
accuracy = (tp+tn)/(tp+tn+fp+fn)

In [42]:
error_rate = (fp+fn)/(fp+fn+tp+tn)

In [43]:
precision = tp/(tp+fp)

In [44]:
specificity = (tn)/(tn+fp)

C:\Users\sahil\AppData\Local\Temp\ipykernel_7608\3358441823.py:1: RuntimeWarning: invalid value encountered in true_divide
  specificity = (tn)/(tn+fp)

In [45]:
recall = (tp)/(tp+fn)